<%
  digital_object = JSON.parse(obj['json'])
%>

<div id="public-result-summary">
	<p><strong>URL:</strong> <a href="<%= digital_object['digital_object_id'] %>"><%= digital_object['digital_object_id'] %></a></p>
</div>
