<%
  digital_object = JSON.parse(obj['json'])
%>

<div id="public-result-summary">
	<% if !digital_object['digital_object_id'].empty? && digital_object['digital_object_id'].start_with?("http://") %>
		<p><strong>URL:</strong> <a href="<%= digital_object['digital_object_id'] %>"><%= digital_object['digital_object_id'] %></a></p>
	<% end %>
	<% digital_object['notes'].each do |note| %>
		<% if note['type'] == "summary" %>
			<p><strong>Summary:</strong> <%= note['content'][0].html_safe %></p>
		<% end %>
	<% end %>
</div>
