<div class="container-fluid navbar-branding">
	<img src="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/pennstate.png" %>" alt="penn state university libraries archivesspace" class="img-responsive"/>
</div>
